name: Daily Data Import

on:
  schedule:
    - cron: '15 */8 * * *'

jobs:
  download_and_upload:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3
      with:
        lfs: true

    - name: Install Git LFS
      run: |
        sudo apt-get update
        sudo apt-get install -y git-lfs p7zip-full
        git lfs install

    - name: Calculate Previous Date and Download ZIP
      id: download_zip
      run: |
        STT_PREV=$(date -u -d "1 day ago" +%Y-%m-%d)
        YEAR=$(date -u -d "$STT_PREV" +%Y)
        MONTH=$(date -u -d "$STT_PREV" +%m)
        DAY=$(date -u -d "$STT_PREV" +%d)
        POSSIBLE_URL="https://ton.twimg.com/birdwatch-public-data/$YEAR/$MONTH/$DAY/notes/notes-00000.zip"
        curl -L -f -o data.zip "$POSSIBLE_URL" || { echo "Download failed"; exit 1; }

    - name: Extract ZIP File
      run: |
        unzip -o data.zip -d extracted
        rm -f data.zip
        FILE="$(ls extracted/*.* | head -1)"
        echo "Extracted File: $FILE"
        FILE_SIZE=$(stat -c%s "$FILE")
        echo "File Size: $FILE_SIZE"
        echo "size=$FILE_SIZE" >> $GITHUB_ENV
        echo "file_path=$FILE" >> $GITHUB_ENV

    - name: Check File Size and Upload
      if: ${{ env.size > 1000 }}
      run: |
        DATE=$(date -u -d "1 day ago" +%Y/%m/%d)
        DIRECTORY="data/$DATE"
        mkdir -p "$DIRECTORY"
        mv -f "${{ env.file_path }}" data.txt
        rm -rf extracted/
        7z a -t7z -m0=lzma2 -mx=9 -mfb=64 -md=32m -ms=on data.7z data.txt
        cp -f data.txt data/latest/data.txt
        mv -f data.txt $DIRECTORY/data.txt
        cp -f data.7z data/latest/data.7z
        mv -f data.7z $DIRECTORY/data.7z
        echo -n $DATE > data/latest/date.txt
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git add .
        git commit -m "Upload data for $DATE"
        git push origin main

    - name: Fail if File Size is Not Greater than 1000
      if: ${{ env.size <= 1000 }}
      run: |
        echo "File size is less than or equal to 1000 bytes. Failing the workflow."
        exit 0
